CompileFlags:
  Add:
    - "-std=c++23"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
  CompilationDatabase: build

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - readability-*
      - modernize-*
      - performance-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length

Index:
  Background: Build
