[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BeEngine/vendor/GLFW"]
	path = BeEngine/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "BeEngine/vendor/GLM"]
	path = BeEngine/vendor/GLM
	url = https://github.com/g-truc/glm.git
[submodule "BeEngine/vendor/imgui"]
	path = BeEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "BeEngine/vendor/STB"]
	path = BeEngine/vendor/STB
	url = https://github.com/nothings/stb.git
[submodule "BeEngine/vendor/tinygltf"]
	path = BeEngine/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "BeEngine/vendor/json"]
	path = BeEngine/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "BeEngine/vendor/nlohmann_json"]
	path = BeEngine/vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "BeEngine/vendor/LuaJIT"]
	path = BeEngine/vendor/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
